doctype html
html
    head
        title= iceblerg.page.title
    body
        p 
            a(href="#{iceblerg.getOverviewURL()}") Overview
            |  / 
            a(href="#{iceblerg.getPostURL(iceblerg.page)}")= iceblerg.page.title
        h1= iceblerg.page.title
        p By 
         a(href="#{iceblerg.getAuthorURL(iceblerg.page.author)}") #{iceblerg.page.author}
         span &nbsp;| Date #{iceblerg.formatPostDate(iceblerg.page, "M/D/YYYY")}
        div!= iceblerg.contentRenderer(iceblerg.page.body)
        p Tags:
            each tag in iceblerg.page.tags
                span &nbsp;
                    a(href="#{iceblerg.getTagURL(tag)}") #{tag}
